:root {
  --default-layout-header-height: 120px;

  --primary-color: rgb(255, 195, 200);
  --primary-color-second: rgb(245, 185, 180);

  --auth-background: url("../../assets/images/auth_background.jpg") no-repeat center center/cover;
}
