@mixin generate-cols($prefix) {
  @for $i from 1 through 12 {
    .#{$prefix}-#{$i} {
      flex: 0 0 #{100% / 12 * $i};
      max-width: #{100% / 12 * $i};
      display: block;
    }
  }
  .#{$prefix}-0 {
    display: none;
  }
}

.grid {
  width: 100%;
  display: block;
  padding: 0;

  &.wide {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

// Mobile (default)
@include generate-cols(c);

// Tablet
@media all and (min-width: 768px) and (max-width: 1023px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  @include generate-cols(m);
}

// PC
@media all and (min-width: 1024px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include generate-cols(l);
}
