.landing {
  --loading-size: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);

  .loading-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--loading-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(220, 220, 220);

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-weight: bold;
    }

    .char-group {
      width: 100%;
      height: 100%;
      .char {
        position: absolute;
        transform: rotate(calc(360deg / 7 * (var(--index) - 1)));
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.5rem;
        color: var(--color);
        background: transparent;
        transition: transform 0.25s ease;
      }
    }
  }
}

/*  TABLET */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .landing {
    --loading-size: 420px;
  }
}

/*  PC */
@media all and (min-width: 1024px) {
  .landing {
    --loading-size: 480px;
  }
}
