.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: var(--default-layout-header-height);
  width: 100vw;
  height: calc(100vh - var(--default-layout-header-height));
  overflow: hidden;
  background: var(--auth-background);
}
