.speak-again-wrapper {
  --margin-top-default: 16px;

  position: absolute;
  max-width: 400px;
  padding: 18px 36px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  background: linear-gradient(to bottom right, var(--primary-color), transparent);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;

  .title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .message-will-speak-again {
    margin-top: var(--margin-top-default);
    font-size: 1.02rem;
  }

  .select-wrapper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: calc(var(--margin-top-default) * 2);

    input {
      padding: 3px 8px;
      border: none;
      border-radius: 6px;
      background-color: rgb(240, 240, 240);
      cursor: pointer;
      transition: all 0.08s ease;

      &:hover {
        background-color: rgba(210, 210, 210, 0.9);
        opacity: 0.9;
      }
    }
  }
}
