:root {
  --width-ai-interactive: 360px;
  --height-ai-interactive: 380px;
  --audio-store-scale: 1.2;
  --audio-store-margin: 0 8px;
  --audio-store-width: calc((100vw - var(--width-ai-interactive)) / var(--audio-store-scale));

  --options-height: 0;

  --message-max-width: calc(var(--width-ai-interactive) / 1.8);
  --message-font-size: 1.1rem;

  --max-width-prompt-wrapper: 490px;
  --prompt-height: 0;
}

.ai-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));

  .audio-store {
    position: relative;
    margin: var(--audio-store-margin);
    width: var(--audio-store-width);
    height: var(--height-ai-interactive);
    border: 1px solid red;
    border-radius: 14px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    audio {
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 6px;
      width: 70%;
      height: 40px;

      & + audio {
        margin-top: 8px;
      }
    }
  }

  .ai-interactive {
    position: relative;
    width: var(--width-ai-interactive);
    height: var(--height-ai-interactive);
    border: 1px solid red;
    overflow: hidden;

    .options-wrapper {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      z-index: 1;

      select {
        padding: 1.25px 4px;
        border-radius: 6px;
        border: none;
        outline: none;
        user-select: none;
      }

      select + select {
        margin-left: 12px;
      }
    }

    .message-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 105%;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }

      /* &::-webkit-scrollbar-track {
      background: #ff0000;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    } */

      .message {
        $message-margin: 6px;

        margin-top: $message-margin;
        width: max-content;
        max-width: var(--message-max-width);
        padding: 12px 20px;
        font-size: var(--message-font-size);
        border-radius: 1rem;
        white-space: pre-wrap;

        &.user {
          align-self: flex-end;
          margin-right: $message-margin;
          background-color: red;
        }
        &.ai {
          margin-left: $message-margin;
          background-color: green;
        }
        &.system {
          height: 0;
          opacity: 0;
          pointer-events: auto;
          user-select: none;
        }

        & + .message {
          margin-top: 12px;
        }
      }
    }

    .liqid-glass {
      $blur-intensity: 3.5px;
      position: absolute;
      width: 100%;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur($blur-intensity);
      -webkit-backdrop-filter: blur($blur-intensity);

      &.at-options {
        top: -1px;
        height: calc(var(--options-height) + 1px);
      }
      &.at-prompt {
        bottom: -1px;
        height: calc(var(--prompt-height) + 1px);
      }
    }

    .prompt-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: var(--max-width-prompt-wrapper);
      padding: 12px;
      border-radius: 16px;
      background-color: rgba(40, 40, 40, 0.25);

      textarea {
        flex: 1;
        padding: 5px 8px;
        color: black;
        border-radius: 12px;
        outline: none;
        resize: none;
      }

      .icons {
        $option-space: 14px;
        padding: 0 $option-space;

        .icon {
          aspect-ratio: 1/1;
          padding: 6px;
          font-size: 1.2rem;
          border-radius: 50%;
          background-color: rgb(220, 220, 220);
          box-shadow: 0 0 2px 1px rgb(220, 220, 220);
          cursor: pointer;
          transition: all 0.175s ease;

          &:not(.disable):hover {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 4px 1.5px rgb(255, 255, 255);
          }

          &.disable {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
          }

          & + .icon {
            margin-left: $option-space;
          }
        }
      }

      input[type="checkbox"] {
        $scale: 1.5;
        transform: scale($scale);
        -webkit-transform: scale($scale);
      }
    }
  }
}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --width-ai-interactive: 550px;
    --height-ai-interactive: 400px;

    --audio-store-margin: 16px;
    --audio-store-scale: 3;
  }
}

/* PC */
@media all and (min-width: 1024px) {
  :root {
    --width-ai-interactive: 720px;
    --height-ai-interactive: 580px;

    --audio-store-margin: 0 25px;
    --audio-store-scale: 4;
  }
}
