.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4px 12px;
  background-color: aquamarine;

  .infomation {
    a {
      img {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }
}
