:root {
  --sidebar-wrapper-icon-display: flex;

  --sidebar-wrapper-position: absolute;
  --sidebar-wrapper-transform: translateX(-100%);
  --sidebar-wrapper-max-height: 60px;
}

.sidebar-wrapper {
  position: var(--sidebar-wrapper-position);
  padding: 2px 8px;
  // background-color: rgba(20, 20, 50, 1);
  max-height: 100%;
  transition: all 0.25s ease;
  z-index: 1;

  &.hidden {
    transform: var(--sidebar-wrapper-transform);
    max-height: var(--sidebar-wrapper-max-height);
  }

  .sidebar-wrapper-icon {
    display: var(--sidebar-wrapper-icon-display);
    position: absolute;
    right: -6px;
    transform: translateX(100%);
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }

    svg {
      font-size: 1.4rem;
      color: red;
    }
  }

  .me-sidebar {
    .infomation {
      a {
        img {
          width: 40px;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }
    }
  }

  .learn-sidebar {
    display: block;
    position: relative;

    &.hidden {
      display: none;
    }

    &-content {
      margin-top: 4px;
      list-style-type: none;
      border-radius: 8px;
      background-color: rgba(50, 50, 50);
      transition: all 0.15s ease;
      color: white;
      cursor: pointer;

      & + .learn-sidebar-content {
        margin-top: 16px;
        user-select: none;
      }

      &:hover {
        background-color: rgba(75, 75, 75);
      }

      a,
      span {
        display: block;
        width: 100%;
        padding: 12px 18px;
        font-size: 1.08rem;
        color: inherit;
      }
    }
  }
}

// Tablet
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --sidebar-wrapper-icon-display: none;

    --sidebar-wrapper-position: relative;
    --sidebar-wrapper-transform: 0;
    --sidebar-wrapper-max-height: 100%;
  }

  .sidebar-wrapper {
    .learn-sidebar {
      &.hidden {
        display: block;
      }
    }
  }
}

// PC
@media all and (min-width: 1024px) {
  :root {
    --sidebar-wrapper-icon-display: none;

    --sidebar-wrapper-position: relative;
    --sidebar-wrapper-transform: 0;
    --sidebar-wrapper-max-height: 100%;
  }

  .sidebar-wrapper {
    .learn-sidebar {
      &.hidden {
        display: block;
      }
    }
  }
}
