.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgb(255, 0, 0);
  z-index: 1;

  .home-link-wrapper {
    height: 100%;
    .home-link {
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .ai-link-wrapper,
  .learn-link-wrapper {
    height: 100%;
    .ai-link,
    .learn-link {
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .auth-wrapper {
    position: relative;
    height: 100%;

    .user-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        height: 45%;
        border-radius: 50%;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--primary-color);
      }

      &:hover + .auth-link-wrapper {
        max-height: 120%;
        opacity: 1;
      }
    }

    .auth-link-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s ease;

      &:hover {
        max-height: 120%;
        opacity: 1;
      }

      .auth-link {
        width: 120px;
        padding: 10px 0;
        border-radius: 6px;
        text-align: center;
        font-size: 1.025rem;
        color: rgb(0, 0, 0);
        background-color: var(--primary-color);
        transition: background-color 0.125s ease;

        &:hover:not(.disable) {
          background-color: var(--primary-color-second);
        }

        &.disable {
          opacity: 0.5;
          cursor: default;
        }

        & + .auth-link {
          margin-top: 4px;
        }
      }
    }
  }
}
